$black: black;
$white: white;
$beige-white: #9a81742d;
$gray-white: rgb(230, 230, 230);
$primary_color:  black/* #FB3640 */;
$primary_color2: white/* #FFF1D0 */;
$jaune: #F0C808;
$blue: #5C95FF;

$breakpoint-tablet: 900px;
$breakpoint-phone: 700px;
